.about span
{
    height: 5px;
    background-color: white;
    border-radius: 5px;
}
.about
{
    background-color: rgb(26, 188, 156);
    min-height: 90vh;
}
.about i
{
    font-size: 25px;
}
.about .line
{
    width: 15%;
}
 