.navbar
{
    background-color: rgb(44, 62, 80) !important;

}
.logo
{
    font-size: 30px;
    background-color: transparent !important;
    
}
.items
{
    font-size: 20px;

}
.active
{
    background-color: rgb(26, 188, 156);
    border-radius: 15px;
}